<!DOCTYPE html>
<head>
    <title> NewsBot </title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript for Materialize CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/materialize.css' %}" />
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'main/js/speech.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/util.js' %}"></script>

</head>

<!-- <script type="text/javascript">
$(document).ready(function() {
    $('select').material_select();
});
</script> -->

<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"> News Bot</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/read"> Read</a></li>
            <!-- <li><a href="/">Nav Link 2</a></li> -->
        </ul>
    </div>
</nav>

<div>
    <form action="/filter" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="Submit" id="submit_button">
    </form>
</div>


{% block content %}
{% endblock %}
</body>