{% extends 'main/header.html' %}

{% block content %}
    {% for article in news_articles %}
        <a href = {{article.article_url}} target="_blank">
                <div class="col s12 m12 l12">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{article.article_title}}</span>
                            <p> {{article.article_content | safe}} </p>
                            <p> {{article.article_date}} </p>
                        </div>
                    </div>
                </div>
            </a>
        <script>
            read_func('{{article.article_title|escapejs}}');
        </script>
    {% endfor %}
{% endblock %}